<div id="management-main">
    <h2 id="subtitle">
        <%= title %>
    </h2>

    <%- messages() %>

        <ul>
            <li>
                <a class="link-new-items" href="/inv/newClassification"
                    title="Click to add a new classification">Add New Classification</a>
            </li>
            <li>
                <a class="link-new-items" href="/inv/newVehicle" title="Click to add a new inventory">Add New
                    Inventory</a>
            </li>
        </ul>
</div>